/* Note to self: justify-content centers things horizontally. align-items centers it vertically. */

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

h1 {
    font-size: 4rem;
    font-weight: 400;
}

h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 10px;
}

button {
    padding: 5px 15px;
    margin: 0 10px;
    height: 25px;
    background-color: #263646;
    color: #eee;
    border: none;
    outline: none;
    width: 75px;
    border-radius: 2px;
}

.selector-area {
    display: flex;
}

.timer-container {
    border: 2px solid #263646;
    border-radius: 25px;
    width: 250px;
    text-align: center;
    padding: 10px;
}

.timer-display {
    font-size: 2rem;
}

.timer-controls {
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
}

.selector {
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selector-button-area {
    display: flex;
    align-items: center;
}

.selected-interval {
    font-size: 2rem;
    margin: 0 10px;
}

